      <div class="cell-10" style="padding: 50px;">

                <div class="row">

                    <h6 style="text-align: center;">Ingrese el rango de fecha de busqueda:</h6>

                </div>

                <div class="row">
                        <div class="cell-3">
                            <div class="form-group">
                                <input data-role="datepicker">
                            </div>
                        </div>

                        <div class="cell-1">
                                <h6 style="text-align: center;">al</h6>
                        </div>

                        <div class="cell-3">
                            <div class="form-group">
                                <input data-role="datepicker">
                            </div>
                        </div>

                </div>

                <div class="row">
                        <h6 style="margin-top: 10px;">O el ID: </h6>
                </div>

                <div class="row">
                    <div class="cell-3">
                        <div class="form-group">
                            <input type="text" data-role="input" data-prepend="">
                        </div>
                    </div>
                </div>



                <br>


                <div class="row">

                    <table class="table">
                        <thead>
                        <tr>
                            <th >ID</th>
                            <th >Nombre</th>
                            <th >Importe</th>
                            <th >Desc.</th>
                            <th >Total</th>
                            <th >Saldo</th>
                        </tr>
                        </thead>

                        <tbody>

                               {{!-- {{#each AQUI VA LA TABLA}}

                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>

                              {{/each}} --}}

                        <tr>
                            <td>1234</td>
                            <td>Bill</td>
                            <td>$20,000</td>
                            <td>$1000</td>
                            <td>$19,000</td>
                            <td>$0</td>
                        </tr>
                        </tbody>

                        
                      
                    </table>

                </div>

             

              </div>