    <div class="cell-10" style="padding: 50px;">

        <div class="row">

            <h6 style="text-align: center;">Ingrese los datos de la solicitud que busca:</h6>

            <div class="row">
                <div class="cell-4">
                    <div class="form-group">
                        <input id="expediente-search" type="text" data-role="input" data-prepend="Expediente: ">
                    </div>
                </div>

                <div class="cell-4">
                    <div class="form-group">
                        <input id="nombre-search" type="text" data-role="input" data-prepend="*Nombre(s): ">
                    </div>
                </div>

                <div class="cell-4">
                    <div class="form-group">
                        <input id="apellidos-search" type="text" data-role="input" data-prepend="Apellidos: ">
                    </div>
                </div>
            </div>
            <br>

        </div>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th >Expediente</th>
                    <th >Nombre del paciente</th>
                    <th >Fecha Nac.</th>
                    <th >Telefono</th>
                </tr>
                </thead>

                <tbody>
                <tr>

        <!--                       {{!-- {{#each AQUI VA LA TABLA}}

                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>
                            <td>TABLA.EL ATRIBUTO</td>

                              {{/each}} --}}

                            <td>1234</td>
                            <td>Bill</td>
                            <td>01/01/1960</td>
                            <td>55 44 55 66 77</td> -->
                </tr>
                </tbody>
            </table>
        </div>

    </div>