.btn{
  margin: 2px;
}

label{
  font-size: 15px;
}

#edad{
  width: 50px;
}

.expediente-label{
  font-size: 10px;
}

#subtotal{
  width: 100px;
}

#descuento{
  width: 100px;
}

#cargo{
  width: 100px;
}

#total{
  width: 100px;
}



#span3 {  
height: 400px !important;
overflow-y: scroll;
}

